
*{
  margin: auto;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #181818;
}

#nameSurname{
  text-align: center;
  font-size: 50px;
  margin: 20px 0px;
  opacity: 0;
  text-decoration: underline;
  text-decoration-color: #2d7ad6;
  animation: fadeIn 2s ease-in forwards;
}

#aboutMe{
  padding: 21px;
}

#projects{
  animation: fadeIn 4s ease-in forwards;
}

#content{
  animation: fadeIn 5s ease-in forwards;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  gap: 30px;
}

#icons{
  display: flex;  
  justify-content: space-between; 
  gap: 20px;
}

.projectDescription{
  padding-right: 10px;
}

h3{
  text-decoration: underline;
  text-decoration-color: #2d7ad6;
}

a{
  text-decoration: none;
}

div{
  max-width: 715px;
}

#icons > a{
  font-size: 30px;
}

i:hover, a:hover{
  color: #2d7ad6;
}

hr{
  border-color: #2d7ad6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}